@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    marquee {
        font-size: 0.9rem;
        padding: 5px;
    }

    main {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    marquee {
        font-size: 0.8rem;
    }

    img#bgpage {
        height: auto;
    }

    main {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
